body {
    background-color: black;
    background-image: url("./assets/dolla-bin-background.jpg");
    background-image: center;
    background-position: right top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-size: cover;
}

#heading {
    /* background-image: linear-gradient(rgba(255, 255, 255, 0.5),rgba(255, 255, 255, 0.5)), url("./assets/records-header-image.jpg"); */
    background-color: rgba(255, 255, 255, 0.85);
    background-size: cover;
    padding: 10px;
    margin-bottom: 1%;
    width: 100%;
    border-radius: 20px;
}

#wrapper {
    width: 90%;
    margin-left: 5%;
    margin-right: auto;
    padding-top: 2%;

}

#articles {
    display: inline-block;
    overflow: auto;
    font-size: 20px;
    width: 55%;
    height: 700px;
    margin-top: 4%;
}
.article-box {
    padding: 10px;
    border-radius: 15px;
    margin-bottom: 3%;
}

#comments-wrap {
    float: right;
    width: 40%;
    background-color: rgba(255, 255, 255, 0.85);
    border-radius: 15px;
    margin-top: 8%;
}
#comments{
    width: 90%;
    margin-left: auto;
    margin-right: 7%;

}

textarea,
input {
    display: block;
    width: 100%;
    background-color: white;
    padding: 5px;
}

input {
    height: 36px;
    font-size: 24px;
}

textarea {
    height: 200px;
    font-size: 18px;
}
#savecomment{
    margin-bottom: 20px;
}